.replace-hidden{ visibility:hidden;}
.replace-none{display:none;}
.nav-fixed{height:35px; margin-left:auto; margin-right:auto; position:fixed; top:0; opacity: 0.7; z-index:1000;}
.text-align1{text-align:center; padding-top:0; margin-top:0;}
.box1-background{background:#B4B4B4; width:96px; height:34px; line-height:34px; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px;}
.about-btn1 {
  margin: 1em 0em 0em 0em;
}
.about-btn1 a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background: #BA0C2F;
  padding: 7px 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration:none;
}
.about-btn1 a:hover {
  background: #ffcd00;
  text-decoration: none;
}
.about-top p{text-align:left;}
.about-description {
	color:#333;
}
.about-description p {
	color:#666;
}
.contact{
	background:#FFFFA4;
}
.contact-top h2{
	font-size:1.8em;
	color:#FF6464;
}
/*.contact-text p{
	margin-left:15%;
	font-size:1.2em;
}*/
.contact-top h3{ text-align:left;}
.text-outline{
	margin-left:15%;
	padding:1em 2em;
	width:246px;
	outline-style: outset;
	outline-color:#0F6;
}
.text-outline :hover{
	outline-style:dotted;
}

.blog{ background:#F6F6F6;}

.user-comment h4{
	color:#03F;
}
.single-pic{
	background:url(../../2.jpg) no-repeat;
	width:825px;
	height:507px;
	text-align:center;
	padding-left:15%;
}